@page "/batchDetail"
@inject NavigationManager Nav

<h3>BatchDetail</h3>

<table id="milling" class="table table-striped table-hover table-bordered mt-4">
    <thead>
    <tr>
        <th>Avviso</th>
        <th>Sito</th>
        <th>Timestamp</th>
    </tr>
    </thead>
</table>

<table id="lathe" class="table table-striped table-hover table-bordered mt-4">
    <thead>
    <tr>
        <th>Avviso</th>
        <th>Sito</th>
        <th>Timestamp</th>
    </tr>
    </thead>
</table>

<table id="assemblyLine" class="table table-striped table-hover table-bordered mt-4">
    <thead>
    <tr>
        <th>Avviso</th>
        <th>Sito</th>
        <th>Timestamp</th>
    </tr>
    </thead>
</table>

<table id="testLine" class="table table-striped table-hover table-bordered mt-4">
    <thead>
    <tr>
        <th>Avviso</th>
        <th>Sito</th>
        <th>Timestamp</th>
    </tr>
    </thead>
</table>

<a href="/batches" class="btn btn-primary">Indietro</a>

@code {
    
}