@page "/costumerDetail"
<h3>Dettaglio del cliente</h3>

<!--TODO: Implementa parte grafica che visualizza i dettagli del cliente selezionato-->

@code {
    //TODO: implementa il codice per visualizzare i dettagli del cliente selezionato
}