@page "/editCostumer"
<h3>Modifica dati cliente</h3>

<!--TODO: Implementa parte grafica (form) che permette di modificare il cliente selezionato-->

@code {
    //TODO: Implementa il codice per modificare su db il cliente selezionato
}