@page "/removeCostumer"
<h3>Rimuovi cliente</h3>

<!--TODO: Implementa parte grafica che permette di selezionare il cliente da rimuovere-->

@code {
    //TODO: Implementa codice per rimuovere il cliente selezinato da db
}