@page "/showCostumers"
<h3 class="mb-3">Lista Clienti</h3>

<a href="/addCostumer" class="btn btn-success">Aggiungi cliente</a>

<!--TODO: Implementa parte grafica che visualizza la tabella con la lista dei clienti e le aziona edit, remove ecc-->
<table class="table table-striped table-hover table-bordered mt-4">
    <thead>
    <tr>
        <th>Id</th>
        <th>Company</th>
        <th>VatCode</th>
        <th>Iban</th>
        <th>Azioni</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Alpha Tech Srl</td>
        <td>IT12345678901</td>
        <td>IT60X0542811101000000123456</td>
        <td>
            <a href="/removeCostumer" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i>Delete</a>
            <a href="/editCostumer" class="btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>
        </td>
    </tr>
    </tbody>
</table>


@code {
    //TODO: metodo che recupera da db tutti i clienti presenti
}