@page "/customers"
@using PW2_Gruppo3.Models
@using PW2_Gruppo3.Web.Clients

@inject CustomerApiClient CustomerService

<h3 class="mb-3">Lista Clienti</h3>

<a href="/addcustomer" class="btn btn-success">Aggiungi cliente</a>

<table class="table table-striped table-hover table-bordered mt-4">
    <thead>
    <tr>
        <th>Id</th>
        <th>Company</th>
        <th>VatCode</th>
        <th>Iban</th>
        <th>Azioni</th>
    </tr>
    </thead>
    <tbody>
    @if (Customers.Count() == 0)
    {
        <tr>
            <td colspan="5">Nessun cliente presente</td>
        </tr>
    }
    else
    {
        @foreach (var customer in Customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Company</td>
                <td>@customer.VatCode</td>
                <td>@customer.Iban</td>
                <td>
                    <a href="/removecustomer" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i>Delete</a>
                    <a href="/editcustomer" class="btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>
                </td>
            </tr>
        }
    }
    

    </tbody>
</table>


@code {
    
    public IEnumerable<Customer> Customers = new List<Customer>();

    protected override async Task OnInitializedAsync()
    {
        Customers = await CustomerService.GetAllAsync();
    }

}